name: Docker build

on:
  workflow_dispatch:


jobs:
  build-sim-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
         config:
         - {
            ros2_distro: "jazzy",
            cuda_version: "12.1.0"
           }
    steps:
    - name: Info
      run: |
       echo "Event type: ${{github.event_name}}"
    - name: Change docker to experimental mode
      run: |
       sudo rm -rf /etc/docker/daemon.json
       echo '{"experimental": true}' | sudo tee -a /etc/docker/daemon.json
    - name: Restart docker daemon
      run: sudo systemctl restart docker
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build the r1ObjectRetrievalSim Docker image
      working-directory: docker/docker_r1ObjectRetrieval/
      run: |
       if [ ${{ github.event_name }} == 'schedule' ]; then
          echo "Building r1ObjectRetrievalSim image"
          sudo rm -rf /opt/hostedtoolcache
          sudo docker buildx build -f Dockerfile_sim --build-arg base_img = elandini84/r1images:tourSim2_ubuntu24.04_${{matrix.config.ros2_distro}}_${{matrix.config.cuda_version}}_devel -t elandini84/r1images:r1obr_sim_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_devel .
       elif [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
          echo "Building r1ObjectRetrievalSim image"
          sudo rm -rf /opt/hostedtoolcache
          sudo docker buildx build -f Dockerfile_sim --build-arg base_img = elandini84/r1images:tourSim2_ubuntu24.04_${{matrix.config.ros2_distro}}_${{matrix.config.cuda_version}}_stable -t elandini84/r1images:r1obr_sim_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_stable .
       else
          echo "Failure!"
          exit 1
       fi
    - name: Push r1ObjectRetrieval image
      run: |
       if [ ${{ github.event_name }} == 'schedule' ]; then
          echo "Pushing r1ObjectRetrievalSim image"
          docker push elandini84/r1images:r1obr_sim_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_devel
       elif [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
          echo "Pushing r1ObjectRetrievalSim image"
          docker push elandini84/r1images:r1obr_sim_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_stable
       else
          echo "Failure!"
          exit 1
       fi
  build-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
         config:
         - {
            ros2_distro: "jazzy",
            cuda_version: "12.1.0"
           }
    steps:
    - name: Info
      run: |
       echo "Event type: ${{github.event_name}}"
    - name: Change docker to experimental mode
      run: |
       sudo rm -rf /etc/docker/daemon.json
       echo '{"experimental": true}' | sudo tee -a /etc/docker/daemon.json
    - name: Restart docker daemon
      run: sudo systemctl restart docker
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build the r1ObjectRetrieval Docker image
      working-directory: docker/docker_r1ObjectRetrieval/
      run: |
       if [ ${{ github.event_name }} == 'schedule' ]; then
          echo "Building r1ObjectRetrieval image"
          sudo rm -rf /opt/hostedtoolcache
          sudo docker buildx build -f Dockerfile --build-arg base_img = elandini84/r1images:tourCore2_ubuntu24.04_${{matrix.config.ros2_distro}}_${{matrix.config.cuda_version}}_devel -t elandini84/r1images:r1obr_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_devel .
       elif [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
          echo "Building r1ObjectRetrieval image"
          sudo rm -rf /opt/hostedtoolcache
          sudo docker buildx build -f Dockerfile --build-arg base_img = elandini84/r1images:tourCore2_ubuntu24.04_${{matrix.config.ros2_distro}}_${{matrix.config.cuda_version}}_stable -t elandini84/r1images:r1obr_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_stable .
       else
          echo "Failure!"
          exit 1
       fi
    - name: Push r1ObjectRetrieval image
      run: |
       if [ ${{ github.event_name }} == 'schedule' ]; then
          echo "Pushing r1ObjectRetrieval image"
          docker push elandini84/r1images:r1obr_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_devel
       elif [ ${{ github.event_name }} == 'workflow_dispatch' ]; then
          echo "Pushing r1ObjectRetrieval image"
          docker push elandini84/r1images:r1obr_cuda.${{ matrix.config.cuda_version }}_${{ matrix.config.ros2_distro }}_stable
       else
          echo "Failure!"
          exit 1
       fi
